<style>
  .bmc-btn {
    width: 180px;
  }

  .bmc-btn:active,
  .bmc-btn:focus,
  .bmc-btn:hover {
    cursor: pointer;
  }
</style>

<a 
	class="bmc-btn m-auto flex flex-center"
	title="Support Patrick Chong on ko-fi.com" 
	href="https://ko-fi.com/patrickxchong" target="_blank"
	rel="noreferrer"
	>
  {% img "/assets/images/site/BuyMeACoffee_Red.png",
  "Buy Patrick Chong a coffee" %}
</a>