{% macro cardResponsive(post) %}
  <div class="max-w-3xl m-auto mb-4">
    <div class="flex flex-col lg:flex-row-reverse rounded-lg overflow-hidden shadow-md">
      {% if post.data.image %}
        <a href="{{post.url | url }}">
        {% set imageCardPosition = post.data.imageCardPosition or 'object-center' %}
             <img class="block h-full w-full lg:max-h-60 lg:w-72 flex-none object-cover {{imageCardPosition}}" src="{{ post.data.image }}" alt="{{ post.data.title }} thumbnail">
        </a>
      {% endif %}
      <div class="flex-1 flex flex-col px-6 py-4">
        <a href="{{post.url | url }}">
          <p class="font-bold text-xl hover:text-gray-700">
            {{post.data.title}}
            {# {% if env.NODE_ENV != "production" %} ({{post.data.status}}) {% endif %} #}
          </p>
          <p class="text-gray-700 text-xs mt-0 mb-2">
            {% if post.data.updatedAt %}
            Updated on <time datetime="{{ post.data.updatedAt | dateToFormat('yyyy-MM-dd') }}">{{ post.data.updatedAt | dateToFormat('LLL dd, yyyy') }}</time>
            {% else %}
            <time datetime="{{ post.date | dateToFormat('yyyy-MM-dd') }}">{{ post.date | dateToFormat('LLL dd, yyyy') }}</time>
            {% endif %}
          </p>
          <p class="text-gray-700 text-base">
            {{ post.data.excerpt }}
          </p>
        </a>
        <div class="flex-1"></div>
        <div class="mt-4">
        {% for tag in post.data.tags | filterTagList %}
          <a href="/tag/{{ tag | slug }}/" class="inline-block rounded-full px-3 py-1 mb-1 mr-1 text-sm text-gray-700 bg-gray-200 hover:bg-gray-300">{{ tag }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}