{% macro galleryImage(images) %}
  <section x-data="{}">
    <div class="container mx-auto grid gap-2 grid-cols-3">
      {%- for image in images -%}
        <div @click="$dispatch('img-modal', {title: '{{image.title}}', src: '{{image.url}}'})"
      class="image relative cursor-pointer">
          <img src="{{ image.url }}" alt="{{ image.title }}"
          class="w-full square object-cover object-center"/>
        </div>
      {%- endfor -%}
    </div>
  </section>
{% endmacro %}

{% macro imageSquare(url, title, width) %}
  <div x-data="{}" @click="$dispatch('img-modal', {title: '{{title}}', src: '{{url}}'})"
      class="image relative cursor-pointer w-max">
    <img src="{{ url }}" alt="{{ title }}"
          class="max-w-full square object-cover object-center"
          style="width: {{width or '100%' }}"/>
  </div>
{% endmacro %}