---
layout: layouts/base
tags: pages
---

<article class="{{  pageWidth | default('max-w-4xl m-auto') }}">
  {% set fileExt = page.inputPath | getFileExt %}
  <div class="{{ 'markdown' if fileExt == '.md'}}">
    {{ content | safe }}
  </div>
</article>