---
title: Stuff I've Cooked
excerpt: Various food experiments I've done hehe
status: published
tags:
  - Food
author: patrick-chong
date: 2021-11-14T13:07:17.485Z
image: /assets/images/uploads/nachos-feature.jpg
---
<br/>
<p>Various food experiments I've done hehe. Not in any particular order.</p>
<br/>

{% from "components/modalImage.njk" import modalImage %}
{{modalImage()}}

{% from "components/galleryImage.njk" import galleryImage %}
{{galleryImage(images.cooking)}}