---
title: Blog
date: 2020-08-05
layout: layouts/page
status: published
eleventyNavigation:
  key: Blog
  order: 6
pagination:
  data: collections.post 
  size: 8
  alias: posts
---
<h1
    class="my-10 m-auto w-full flex flex-wrap items-center justify-center text-2xl sm:text-3xl">
  {% from "components/scrabble.njk" import scrabble %}
  {{scrabble("BLOG")}}
</h1>

<div class="my-5 flex flex-center flex-wrap">
  {% from "components/tagPills.njk" import tagPills %}
  {{tagPills(collections.tagList)}}
</div>

<div>
  {% from "components/cardResponsive.njk" import cardResponsive %}
  {% for post in posts %}
    {{cardResponsive(post)}}
  {% endfor %}
</div>

{# ===== Paginate based on "size" frontmatter value above =====  #}
{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
{% if collections.post.length > pagination.size %}
  {% include "components/pagination.njk" %}
{% endif %}