---
layout: layouts/page
status: published
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - authors
    - pages
    - post
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "{{ tag | capitalize }}"
---
<h1
    class="py-10 m-auto w-full flex flex-wrap items-center justify-center text-2xl sm:text-3xl">
  {% from "components/scrabble.njk" import scrabble %}
  {{scrabble(tag | upper)}}
</h1>

{% set posts = collections[tag] | published | reverse %}
<div>
  {% from "components/cardPost2.njk" import cardPost %}
  {% for post in posts %}
    {{cardPost(post)}}
  {% endfor %}
</div>

{# ===== Paginate based on "size" frontmatter value above =====  #}
{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
{# {% if posts.length > pagination.size %}
  {% include "components/pagination.njk" %}
{% endif %} #}

<div class="max-w-3xl m-auto">
  <h4 class="mb-2 {{ colors.tagPillCustom.text or colors.tagPillDefault.text }}">All Tags</h4>
  <div>
    {% set tags = collections.tagList %}
    {% include "components/tagpills.njk" %}
  </div>
</div>