{# <script src="/assets/main.js" async defer></script> #}
<script src="//unpkg.com/alpinejs" async defer></script>

<script>
{% include "src/assets/scripts/copyCode.js" %}
</script>


{# production scripts #}
{% if env.NODE_ENV == "production" %}
  {# Turbo script #}
  {# <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  </script> #}
  
  <script>
  {# Segment script #}
  {% include "src/assets/scripts/segment.js" %}
  </script>
{% endif %}