<link rel="stylesheet" href="/assets/css/index.css"/>

<style>
{% include "src/assets/css/prism-okaidia.css" %}
</style>

{% set fileExt = page.inputPath | getFileExt %}
{% if fileExt == '.md' %}
  <link rel="stylesheet" href="/assets/css/markdown.css"/>
{% endif %}